/* Navbar */
#navbar {
    background-color: blue;
    width: 100vw;
    height: fit-content
}

#nav-title {
    width: 100vw;
    font-size: large;
    display: inline-block;
    align-content: center;
    font-size: 3.5vw;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: #F0EAD6;
    padding-bottom: 1vw;
}

#nav-links-wrapper {
    display: inline-block;
    width: 100vw;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 15%;
    font-size: 2.5vw;
    color: #F0EAD6;
}

/* Homepage Content*/
#homepage-content-wrapper {
    width: 100vw;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
}

#homepage-img-wrapper {
    width: 100vw;
    text-align: center;
}

#homepage-img {
    width: 60vw;
    height: 40vw;
    display: inline-block;
    border: solid blue 0.5vw;
}

#homepage-text-wrapper {
    width: 100vw;
    padding-top: 2vw;
    text-align: center;
}

#about-us {
    margin: 0;
    padding-top: 2vw;
    text-decoration: underline;
}

#homepage-text {
    width: 80vw;
    height: fit-content;
    display: inline-block;
    /* border: solid blue 0.5vw; */
    /* border: blue solid 0.5vw; */
}