#navbar {
    background-color: blue;
    width: 100vw;
}

#nav-title {
    width: 100vw;
    font-size: large;
    display: inline-block;
    align-content: center;
    font-size: 3.5vw;
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: #F0EAD6;
}

#nav-links-wrapper {
    display: inline-block;
    width: 100vw;
    text-align: center;
}

.nav-link {
    display: inline-block;
    width: 15%;
    font-size: 2.5vw;
    color: #F0EAD6;
}

#homepage-img-wrapper {
    width: 100vw;
    padding-top: 2vw;
    text-align: center;
}

#homepage-img {
    width: 60vw;
    height: 40vw;
    display: inline-block;
    border: solid blue 0.5vw;
    
}